/* ESTILOS ESPECIFICOS DEL MENU*/
body {
    justify-content: end;
    background-color: #fff;
}
/*  ASIDE DE PRODUCTOS  */

.section-selected {
    padding: 30px;
    font-size: 1.6rem;
    border-left: 6px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
    color: var(--color-3);
    background-image: linear-gradient(#0005, #000a);
}
.section-selected:hover {
    font-size: 1.6rem;
}
/*       SECCION DE PRODUCTOS      */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 90px;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
}
.grid-container {
    width: 95%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    color: linear;
    grid-auto-flow: row;
    padding: 40px 40px;
    border-radius: 30px;
    place-content: center;
    overflow-x: hidden;
    box-shadow: 0 0 25px #444;
}
.grid-tittle-container {
    background-color: #fffd;
    margin: 20px 0;
    padding: 0 20px;
    border-radius: 20px;
}
.grid-tittle {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'montserrat';
    text-align: center;
}
.item-container {
    border-radius: 18px;
    padding: 10px;
    min-height: 324px;
    box-shadow: 0 0 10px #fff7;
    opacity: 0;
    transition: background-color scale box-shadow transform;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    animation: fade-in-up 0.5s ease-out forwards;
}


/*      DELAY PARA LA ANIMACION DE CADA ELEMENTO      */
.item-container:nth-child(1) { animation-delay: 0.1s; }
.item-container:nth-child(2) { animation-delay: 0.2s; }
.item-container:nth-child(3) { animation-delay: 0.3s; }
.item-container:nth-child(4) { animation-delay: 0.4s; }
.item-container:nth-child(5) { animation-delay: 0.5s; }
.item-container:nth-child(6) { animation-delay: 0.6s; }
.item-container:nth-child(7) { animation-delay: 0.7s; }
.item-container:nth-child(8) { animation-delay: 0.8s; }
.item-container:nth-child(9) { animation-delay: 0.9s; }
.item-container:nth-child(10) { animation-delay: 1s; }
.item-container:nth-child(11) { animation-delay: 1.1s; }
.item-container:nth-child(12) { animation-delay: 1.2s; }
.item-container:nth-child(13) { animation-delay: 1.3s; }
.item-container:nth-child(14) { animation-delay: 1.4s; }
.item-container:nth-child(15) { animation-delay: 1.5s; }
.item-container:nth-child(16) { animation-delay: 1.6s; }
.item-container:nth-child(17) { animation-delay: 1.7s; }
.item-container:nth-child(18) { animation-delay: 1.8s; }
.item-container:nth-child(19) { animation-delay: 1.9s; }

.item-container:hover {
    box-shadow: 0 0 25px #fff;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--main-color-dark-oak) 80%, #fff 5%);
    scale: 1.02;
}

.item-img-container:hover {
    opacity: .8;
}

.item-text-container {
    width: 100%;
    padding: 10px 20px;
    color: inherit;
}
.item-text-container h3 {
    font-size: 1.3rem;
}
.item-text-container span {
    font-family: 'rubik';
    font-size: 23px;
    color: inherit;
}
.item-img-container {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}
.container-buttons {
    height: 160px;
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
}
.item-container:hover .item-filter {
    background-color: #0001;
    cursor: pointer;
}
.item-filter {
    width: 100%;
    height: 100%;
}
.item-filter:hover #item-fav-btn {
    opacity: 1;
    cursor: pointer;
}
.item-img-container img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


